- unless articles.empty?
  .article_list
    %h2= caption
    %ul
      - articles.each do |article|
        %li
          %span.timestamp= article.created_at.strftime('%Y-%m-%d %H:%M')
          %span.title= link_to article.title, article
